<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="CRMDlg">
      <Dialog Width="370" Height="270" Id="UseExistingWebsiteDlg" Title="!(loc.DlgTitle)" NoMinimize="yes">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.DlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}CRM主程序" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>选择网站、安装目录、应用程序池</Text>
        </Control>
        <Control Id="WebsiteLabel" Type="Text" X="26" Y="60" Width="100" Height="15" TabSkip="no" Text="选择网站：" />
        <Control Type="ComboBox" Width="269" Height="16" X="26" Y="75" Id="ExistingWebsite" Property="SELECTEDWEBSITEID" ComboList="yes" Sorted="yes">
        </Control>
        <Control Type="Text" Width="199" Height="10" X="26" Y="105" Id="VirtualDirLabel">
          <Text>虚拟目录名称:</Text>
        </Control>
        <Control Type="Edit" Width="268" Height="15" X="26" Y="120" Id="VirtualDirEdit" Property="VIRTUALDIRECTORYNAME" />
        <Control Type="Text" Width="50" Height="11" X="26" Y="146" Id="FolderLabel" Text="安装目录:" />
        <Control Type="PathEdit" Width="217" Height="15" X="26" Y="161" Id="FolderEdit" Property="CRMAPPPATH" Indirect="yes"  Disabled="yes" >
          <Text>选择安装目录...</Text>
        </Control>
        <Control Type="PushButton" Width="46" Height="17" X="248" Y="161" Id="ChooseFolder" Text="!(loc.InstallDirDlgChange)">
          <!--<Publish Event="DoAction" Value="getIISWebsitePath" Order="2">InstallDirSet = 0</Publish>-->
          <!--<Publish Property="TARGETMODE" Value="ExistingWebsite" Order="2">1</Publish>-->
        </Control>
        <!--<Control Type="Text" Width="199" Height="10" X="26" Y="191" Id="ApplicationPoolLabel">
                    <Text>应用程序池名称:</Text>
                </Control>
                <Control Type="Edit" Width="268" Height="15" X="26" Y="206" Id="ApplicationPoolEdit" Property="WEBAPPLICATIONNAME" />-->

        <Control Type="Text" Width="199" Height="10" X="26" Y="191" Id="CRMAttachmentsLabel">
          <Text>文件存放目录:</Text>
        </Control>
        <Control Type="PathEdit" Width="217" Height="15" X="26" Y="206" Id="CRMAttachmentsEdit" Property="DIRATTACHMENTS" />
        <Control Type="PushButton" Width="46" Height="17" X="248" Y="206" Id="ChooseAttachmentsFolder" Text="!(loc.InstallDirDlgChange)">
          <!--<Publish Event="DoAction" Value="getIISWebsitePath" Order="2">InstallDirSet = 0</Publish>
                    <Publish Property="TARGETMODE" Value="ExistingWebsite" Order="2">1</Publish>-->
        </Control>

        <!--Button-->
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="2" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)">
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Property="TARGETMODE" Value="ExistingWebsite" Order="1">1</Publish>
          <Publish Event="DoAction" Value="CheckWebDlgInput" Order="2">1</Publish>
          <Publish Event="DoAction" Value="UpdatePropertyWithSelectedWebSite" Order="3">
            CRMAPPVALIDFG = "1"
            <!--InstallDirSet = 1 AND checkVirtualDirName = 1-->
          </Publish>
          <!--<Publish Event="DoAction" Order="3" Value="checkVirtualDirectoryName">
                        -->
          <!--InstallDirSet = 1-->
          <!--
                    </Publish>-->
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg"><![CDATA[1]]></Publish>
        </Control>
      </Dialog>
    </UI>


  </Fragment>
</Wix>